#title h1{
    width: 100%;
    text-align: center;
}

.game-section{
    display: flex;
    justify-content: center;   
}


.card-area{
    height:500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: auto;
    gap: 10px;
    background-color: black;
    margin-top: 20px;
  
}

.card{
    position:relative;
    margin:1px;
    border-radius: 25px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
                   
}

/*.card:hover{
    transform: rotateY(360deg)
}*/

.card img {
    height:100%;
    width:100%;
    margin:1px;
    border-radius: 25px;
    object-fit: cover;
}

.card-front{
   position: absolute;
   height: 100%;
   width: 100%;
   margin:1px;
   border-radius: 25px;
   background:linear-gradient(blue, purple);
   backface-visibility: hidden;
   color: white;
   visibility: visible;
   transform: rotateY(180deg);
   
}


.card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    margin:1px;
    border-radius: 25px;
    background: linear-gradient(135deg, #00C9AC 30%, #fabeb4 50%, #fca99b 80%);
    backface-visibility: hidden;
      
 }

 .turn-card{
    transform: rotateY(180deg);
       
 }

