body{
    color: #D79E06;
    font-family: 'Lato', sans-serif;
   
}

img {
    top:0%;
    left:0%;
    margin:0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#logo-image{
    height:100%;
    width: 100%;
}

#title h1, #title h2 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color:#D79E06;
    font-weight: bold;
}

h2 {
    font-family: 'Marhey', cursive;
}


#title p{
    width: 100%;
    text-align: center;
    color:#D79E06;
    font-weight: bold;
}

.game-section{
    width:100%;
    margin:0;
    display: flex;
    justify-content: center;   
}

#intro-description{
    text-align: center;
}

#intro-description h2{
    margin-top: 10px;
    margin-bottom: 30px;
}

#intro-description p{
    padding: 0.5rem 2rem 0  ;
}

#game-info{
    height: 70vh;
    width: 50vw;
    margin-top: 20px;
    padding: 2rem;
    border-radius: 25px;
    background: rgba(0, 72, 62, 0.9);
    border: 2px solid #D79E06;
}

ol{
    text-align: left;
}

ol li {
    margin-left: 3px;
}


.game-scores{
    margin-top:60px;
    margin-right:1rem;
    margin-left: -6%;
}

.btn{
    font-family: 'Marhey', cursive;
    background-color: #CF9EAC;
    color:white;
    font-weight: 700;
    font-size: x-large;
    border:none;
    justify-content: center;
    letter-spacing: 2px;    
}

.return {
    max-height: 50px;
}

.btn:hover{
    background-color: #D79E06;
    color:white;
}

.card-area{
    height: 70vh;
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: auto;
    gap: 0.5rem;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    background: rgba(0, 72, 62, 0.9);

}

.card{
    position:relative;
    margin:1px;
    border-radius: 25px;
    border:none;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in;
    transition: transform 1s ease-in-out;    
    background-color:  rgba(255, 255, 255,0);
           
}



.card img {
    height:100%;
    width:100%;
    margin:1px;
    border-radius: 25px;
    object-fit: scale-down;
   
}

.card-front{
   position: absolute;
   height: 100%;
   width: 100%;
   margin:1px;
   border-radius: 25px;
   background: linear-gradient(blue, purple);
   backface-visibility: hidden;
   color: white;
   visibility: visible;
   transform: rotateY(180deg);
   text-align: center;
}

.card-front p {
    margin-top: 22%;
    font-size: xx-large;
    
}

.card-back{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: linear-gradient(135deg, #00C9AC 30%, #fabeb4 50%, #fca99b 80%);
    backface-visibility: hidden;
      
 }

 .turn-card{
    transform: rotateY(180deg);
       
 }

/*.matched-animation{
    transform: scale(2);
}*/

.btn-output{
   margin-top: 2%;
   padding: 0.5rem;
   text-align: center;
}

.level-A1 {
    margin-top: inherit;
}

.level-A1, .level-B1  {
    font-size: 5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    padding-top: 5%;
}


#result{
    height: 70vh;
    width: 50vw;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    background: rgba(0, 72, 62, 0.9);
    font-size:80px;
    text-align: center;
    vertical-align: middle;
}

#result p{
    margin-top: 25%;
}

#result a{
    margin-top: -20%;
    display: block;
    margin: 5px;
}

footer{
    text-align: center;
    margin-top: 20px;
    color:#D79E06;
}

footer span{
    margin-left: 10px;
}

footer a{
    text-decoration: none;
    color:#D79E06
}

@media (max-width: 1731px) {
    .btn-output{
        margin-top: 3%;
    }

    .card-front p {
        margin-top: 25%;
        font-size: x-large;
        
    }

}

@media (max-width: 1500px) {
    .level-A1, .level-B1 {
        padding-top: 6%;
    }
}

@media (max-width: 1200px) {
    #game-info{
        height: 70vh;
        width: 65vw;
     }

}

@media (max-width: 950px) {
    #game-info, #result{
        height: 70vh;
        width: 70vw;
     }

    .card-area{
        height: 70vh;
        width: 80vw;
    }


    .game-scores{
        display: flex;
        position:absolute;
        margin-top: -5px;
        width: 100%;
    }

    #timer{
        margin-left: 22%;     
        margin-right: 2%;  
    }

    #turns-count{
        margin-right: 43%;
    }

    .level-A1, .level-B1 {
        padding-top: 8%;
    }
}

@media (max-width: 800px) {
     #timer{
        margin-left: 18%;     
        margin-right: 2%;  
    }

    #turns-count{
        margin-right: 50%;
    }

    .btn{
        font-size: large;
    }
}


@media (max-width: 700px) {

   /** #game-info, .card-area, #result {
        height: 30rem;
        width: 30rem;
    }**/

    #title p{
        margin-bottom: 0;
    }

    .level-A1 {
        margin-top: -3%;
    }

    #intro-description p{
        padding: 0  1rem ;
    }

    #intro-description h2{
        margin-bottom: 30px ;
    }

    #timer{
        margin-left: 24%;     
        margin-right: 2%;  
    }

    #turns-count{
        margin-right: 35%;
    }


    #result p {
        margin-top: 15%;
    }

}


@media (max-width: 630px) {
    #title h2{
        margin-top: 40px;
    }

    #timer{
        margin-left: 20%;     
        margin-right: 2%;  
    }

    #turns-count{
        margin-right: 38%;
    }


    /*.card-area, #result  {
        height: 30rem;
        width: 30rem;
    }*/

    #result p {
       font-size: 50px;
       margin-top: 24% ;
    }
}

@media (max-width: 500px) {

    #game-info{
        height: 75vh;
        width: 95vw;
        border-radius: 25px;
        padding: 1.25rem;

    }
    

    #intro-description h2{
        margin-top: 20px;
    }

    #intro-description p{
        font-size:medium;
       
    }

    .level-A1 {
        margin-top: 18%;
    }

    .level-A1, .level-B1  {
        font-size: 3rem;
        font-weight: 900;
    }

    #title h2{
        margin-top: 30px;
    }

    #timer{
        margin-left: 15%;     
        margin-right: 2%;  
    }

    #turns-count{
        margin-right: 40%;
    }

    
    /*.card-area, #result {
        height: 80vh;
        width: 95vw;
        border-radius: 25px;
    }*/

    
    #result p {
        margin-top: 65%;
    }


}

@media (max-width: 380px) {

   /* #game-info{
        height: 80vh;
    }*/

    #intro-description h2{
        margin-top: 20px;
    }



    .level-A1 {
        margin-top: 8%;
    }


    .game-scores{
        margin: -20px;
        padding: 1rem;  
   
      }

    #timer{
        margin-left: 10%;     
        margin-right: 4%;  
    }

    #turns-count{
        margin-right: 4%;
    }

    #result p {
        margin-top: 80%;
    }

    footer{
        margin-top: 10px;
    }

}

@media (max-width: 300px) {
    #title h1 {
        margin-top: 15px !important;
    }

    #title p{
        font-size: small;
    }

    #game-info{
        height: 73vh !important;
    }

    .btn{
        height: 20px;
        font-size: small; 
    }
}

@media (max-height: 850px) {
    .btn-output{
        overflow: scroll;
    }

    ol{
        overflow: auto;
    }  

    .level-A1, .level-B1 {
        font-size: xx-large;
    }


}

@media (max-height: 800px) {

    #intro-description h2 {
        margin-bottom: 20px;
    } 

    .btn{
        font-size: large;
    }

    footer{
        margin-top: 15px;
    }
    
}

@media (max-height: 670px) {
   #game-info{
        height: 65vh;
    }

    #intro-description h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    } 

    #title h1 {
        margin-top: 30px;

    }

    .btn{
        height: 30px;
        /*margin-top: -20px;*/
   }

}


@media (max-height: 550px) {
    #intro-description p {
        padding-top:0;
    }

    p{
        font-size: small;
    }

    #title h1 {
        margin-top: 10px;
    } 

    p{
        font-size: medium;
    }

    .btn{
        height:28px;
        line-height: 2px;
        margin: -1px;
    }

    .btn{
        font-size: large;
    }

    #game-info{
        height: 70vh;
        margin-top:0;

    }

    #intro-description h2 {
         margin-top: 5px; 
         margin-bottom: 5px; 
    }

    .level-A1, .level-B1 {
        height: 100px;
        
    }

    footer{
        margin-top: 10px;
    }

    p{
        font-size: small;
    }

}